/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: inherit;  
  overflow: hidden;/*remove scrollbar in the browser*/
  }

  body{
    display: flex;
    justify-content: space-around;
  }

.main{
  width: 500px;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

h1 {
  margin-left: 0 !important;  
}

.widget-container{
    display:block;  
}

.clock-container{
  display: block;
  flex-direction: column;
  background-color: burlywood;  
  color: brown;    
  font-size: 22px;
  width:300px;
  line-height: 15px;
  border: 2px solid black;
}

.clock-heading{
  padding-right: 40px;
}

.clock-item{
  /* width: max-content; */
  padding: 10px;
}

.tab-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1px;
  margin-right: 0;
  float:left;
  width: 88.2px; 
  border-radius: 10px 10px 0 0;
  border: 2px solid black;
  background-color: khaki;  
}

.tab-header:hover{
  background-color: black;
  color:wheat;
  cursor: pointer;
}

.tab-header-border{
   border-bottom:1px solid khaki;  
   font-weight: bold;
}

article{
  clear: both;
  margin: 0;
  background-color: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 192px;
  border: 2px solid black;
  border-top: none;
}

.weather-container{
  width: 200px;
  position: relative;
  top: 0px;
  line-height: 35px;
  background-color: aliceblue;
  border: 2px solid;
  padding-left: 5px;
}

.autocomplete-container{
  position: relative;
  top: -171px;
  left:225px;
}
.autocomplete-list-container{
  position: relative;
  top: 0px;
  left:0px;
  background-color: violet;
  border: 2px solid black;
  height: 225px;
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input{
  position: relative;
  top: 20px;
  background-color:whitesmoke;
  border: 1px solid;
  width: 187px;
  color:gray;
}

.autocomplete-list{
  position: relative;
  top:35px;
}